{% extends "home.html" %}
{% block content %}
<div class="container-fluid features">
    <div class="row content p-4">
        <div class="col-md-7 col-sm-12 mb-4">
            <div class="row icon-box">
                <div class="col-md-12 col-12">
                    <i class="fa fa-eye"></i>
                    <h3>Visor Online</h3>
                    <p class="d-none">Disponibilidad 24/7 para acceder a tus estudios por medio de Internet.</p>
                    <p>Nuestro visor online está disponible las 24 horas del día, los 7 días de la semana, permitiéndote acceder a tus estudios médicos desde cualquier lugar a través de Internet en cualquier momento que te resulte conveniente.</p>
                </div>
                <div class="col-md-12 col-12">
                    <i class="fa fa-share-nodes"></i>
                    <h3>Compartir Enlace</h3>
                    <p class="d-none">Puedes compartir el enlace al estudio con solo un clic.</p>
                    <p>Con un solo clic, puedes compartir fácilmente el enlace a tu estudio médico con familiares, amigos o profesionales de la salud, facilitando la colaboración y la obtención de opiniones expertas.</p>
                </div>
            
                <div class="col-md-12 col-12">
                    <i class="fa fa-cloud-download"></i>
                    <h3>Descargar Reporte</h3>
                    <p class="d-none">Descargá y/o visualiza tu informe médico.</p>
                    <p>Tienes la opción de descargar y/o visualizar tu informe médico de manera sencilla y rápida. Esto te permite acceder a tu información de salud de manera conveniente para su revisión o archivo personal.</p>
                </div>
                <div class="col-md-12 col-12">
                    <i class="fa fa-shield"></i>
                    <h3>Seguridad</h3>
                    <p class="d-none">Protección de tus datos personales y el acceso a tu información.</p>
                    <p>Nos tomamos muy en serio la protección de tus datos personales y el acceso a tu información médica. Implementamos rigurosas medidas de seguridad para garantizar que tu privacidad esté completamente resguardada.</p>
                </div>
           
                <div class="col-md-12 col-12">
                    <i class="fa fa-gift text-blue-imaxess"></i>
                    <h3>Promociones Exclusivas</h3>
                    <p class="d-none">Beneficios exclusivos para nuestros usuarios.</p>
                    <p>Como parte de nuestra comunidad, tendrás acceso a beneficios exclusivos diseñados especialmente para nuestros usuarios. Estas promociones te brindarán ventajas adicionales y descuentos en servicios médicos.</p>
                </div>
                <div class="col-md-12 col-12">
                    <i class="fa fa-puzzle-piece text-blue-imaxess"></i>
                    <h3>Personalización</h3> 
                    <p class="d-none">Configura <b>Club Imaxess</b> de acuerdo a tus preferencias.</p>
                    <p>Club Imaxess te permite personalizar tu experiencia de acuerdo a tus preferencias individuales. Puedes configurar y adaptar nuestras herramientas y recursos para que se ajusten a tus necesidades específicas, brindándote una experiencia de usuario más satisfactoria y eficiente.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 mb-4 img-container d-flex">
            <img src="/img/svg-app-clubimaxess.svg" class="img-fluid media-bg" alt="">
        </div>
    </div>
</div>
{% endblock %}