{% extends "home.html" %}
{% block content %}
<div class="container-fluid features">
    <div class="row content p-4">
        <div class="col-md-7 col-sm-12 mb-4">
            <div class="row icon-box">
                <div class="col-md-12 col-12">
                    <i class="fa fa-eye"></i>
                    <h3>Visor Online</h3>
                    <p class="d-none">Disponibilidad 24/7 para acceder a tus estudios por medio de Internet.</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                      
                </div>
                <div class="col-md-12 col-12">
                    <i class="fa fa-share-nodes"></i>
                    <h3>Ver Enlace</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            
                <div class="col-md-12 col-12">
                    <i class="fa fa-cloud-download"></i>
                    <h3>Ver Reporte</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="col-md-12 col-12">
                    <i class="fa fa-shield"></i>
                    <h3>Seguridad</h3>
                    <p class="d-none">Protección de tus datos personales y el acceso a tu información.</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
           
                <div class="col-md-12 col-12">
                    <i class="fa fa-gift text-blue-imaxess"></i>
                    <h3>Promociones Exclusivas</h3>
                    <p class="d-none">Beneficios exclusivos para nuestros usuarios.</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="col-md-12 col-12">
                    <i class="fa fa-puzzle-piece text-blue-imaxess"></i>
                    <h3>Personalización</h3> 
                    <p class="d-none">Configura <b>Club Imaxess</b> de acuerdo a tus preferencias.</p>
                    <p>Club Imaxess te permite personalizar tu experiencia de acuerdo a tus preferencias individuales. Puedes configurar y adaptar nuestras herramientas y recursos para que se ajusten a tus necesidades específicas, brindándote una experiencia de usuario más satisfactoria y eficiente.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 mb-4 img-container d-flex">
            <img src="/img/svg-app-clubimaxess.svg" class="img-fluid media-bg" alt="">
        </div>
    </div>
</div>
{% endblock %}