<div id="footer-content">
    <div class="container">
      <div class="row">
        <div id="footer-links" class="col-md-6 col-sm-6 col-xs-6 ">
          <ul>
            <li>&copy; 2023 Imaxess</li>
            <li class="liBar">|</li>
            <li><a href="#" target="_blank">Política de Privacidad</a></li>
            <li class="liBar">|</li>
            <li><a href="#" target="_blank">Términos y Condiciones</a></li>
          </ul>
        </div>
        <div id="redes-sociales" class="col-md-6 col-sm-6 col-xs-6 text-right">
          <a href="#" class="icono-red-social fb" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" class="icono-red-social yt" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="#" class="icono-red-social ig" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
</div>